* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.container{
  
  
}

header {
 
}
.ingresar{
  text-align: right;
  color: aliceblue;
  font-size: 17px;
  padding-bottom: 1%;
  padding-right: 1%;
}
.cabecera1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: black;
    background-color: #000000;
    margin-top: 2%;
    margin-left: 1%;
    padding-top: 1%;
    padding-left: 1%;
    color: aliceblue;
    font-size: 17px;
  }
  .cabecera2 {
    background-color: #697f55;
    padding-left: 1%;
    margin-left: 1%;
    padding-top: 1%;
    padding-bottom: 10px;
    color: aliceblue;
    font-size: 17px;
    display: inline-block;
    width:99%;
  }
  .a{
    display: inline-block;
  }
  .b{
    margin-left: 2%;
    display: inline-block;
  }
  .c{
    margin-left: 2%;
    display: inline-block;
  }
  .d{
    margin-left: 2%;
    display: inline-block;
  }
  .e{
    margin-left: 2%;
    display: inline-block;
  }

.cuerpo{
  
}
.cajalogo{
  background-color:;
  padding:5%;
  display: inline-block;
  width:30%;
  vertical-align:top ;
}
.menulogo{
  padding:8%;
  background-color: #c8c9c7;
  border-radius: 10px;
  
  
}

.ies{
  margin-top: 5%;
  display: inline-block;
  vertical-align:top ;
  width:40%;
}
  .calendario{
    display: inline-block;
    width:20%;
    vertical-align:top ;
    margin-left: 8%;
    margin-top: 5%;
    background-color: #c8c9c7;
  border-radius: 10px;
  padding: 3%;
   }
.arbol{
  float: right;
    
}
.categoria{
  background-color: #c8c9c7
}
.cajaarbol{
  background-color: #c8c9c7
}

.final{
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: black;
    background-color: #000000;
    margin-left: 1%;
    padding-left: 1%;
    color: aliceblue;
    font-size: 17px;
    text-align: center;
    
}

